@media print {

.pmpro_a-print {display: none; position: absolute; left: -9999px; }

}
/*
     FILE ARCHIVED ON 05:27:25 Apr 27, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:05:02 Apr 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 13.458 (3)
  esindex: 0.015
  PetaboxLoader3.resolve: 442.063 (4)
  RedisCDXSource: 66.702
  captures_list: 719.851
  PetaboxLoader3.datanode: 233.274 (4)
  exclusion.robots: 0.127
  exclusion.robots.policy: 0.117
  load_resource: 67.968
  LoadShardBlock: 636.674 (3)
*/