  
.wp-tiles-wud-wrapper:hover > .wp-tiles-wud-image{ 
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    transform: scale(1.09);	
	filter:gray alpha(opacity=50);
	-webkit-filter:grayscale(50%);
	filter: grayscale(50%);
	-webkit-backface-visibility:hidden;
	transform-origin: top left;
}

.wp-tiles-wud-wrapper-box:hover > .wp-tiles-wud-image{ 
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    transform: scale(1.09);	
	filter:gray alpha(opacity=50);
	-webkit-filter:grayscale(50%);
	filter: grayscale(50%);
	-webkit-backface-visibility:hidden;
	transform-origin: top left;
}
/*
     FILE ARCHIVED ON 10:01:22 Oct 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:54:50 Apr 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.015
  CDXLines.iter: 14.017 (3)
  RedisCDXSource: 0.689
  PetaboxLoader3.resolve: 300.003 (3)
  exclusion.robots.policy: 0.179
  captures_list: 238.433
  LoadShardBlock: 220.306 (3)
  PetaboxLoader3.datanode: 178.118 (5)
  exclusion.robots: 0.193
  load_resource: 268.587
*/