@media print {

.pmpro_a-print {display: none; position: absolute; left: -9999px; }

}
/*
     FILE ARCHIVED ON 05:27:25 Apr 27, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:57:54 Apr 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.009
  load_resource: 287.804
  captures_list: 605.84
  exclusion.robots: 0.127
  CDXLines.iter: 16.523 (3)
  PetaboxLoader3.datanode: 554.954 (4)
  LoadShardBlock: 576.283 (3)
  PetaboxLoader3.resolve: 306.348 (2)
  RedisCDXSource: 10.269
  exclusion.robots.policy: 0.119
*/