@media print {

.pmpro_a-print {display: none; position: absolute; left: -9999px; }

}
/*
     FILE ARCHIVED ON 05:27:25 Apr 27, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:46:31 Apr 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.019
  CDXLines.iter: 34.648 (3)
  captures_list: 566.674
  PetaboxLoader3.datanode: 411.846 (4)
  PetaboxLoader3.resolve: 178.027 (2)
  exclusion.robots: 0.255
  RedisCDXSource: 95.352
  LoadShardBlock: 430.508 (3)
  load_resource: 206.065
  exclusion.robots.policy: 0.237
*/