@media print {

.pmpro_a-print {display: none; position: absolute; left: -9999px; }

}
/*
     FILE ARCHIVED ON 05:27:25 Apr 27, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:18:07 Apr 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.21
  CDXLines.iter: 15.692 (3)
  captures_list: 69.104
  LoadShardBlock: 43.424 (3)
  exclusion.robots.policy: 0.196
  PetaboxLoader3.datanode: 79.975 (4)
  load_resource: 100.271
  RedisCDXSource: 6.524
  esindex: 0.017
  PetaboxLoader3.resolve: 40.135
*/