@media print {

.pmpro_a-print {display: none; position: absolute; left: -9999px; }

}
/*
     FILE ARCHIVED ON 05:27:25 Apr 27, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:56:20 Apr 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.166
  LoadShardBlock: 781.913 (3)
  RedisCDXSource: 11.576
  load_resource: 1745.634
  exclusion.robots: 0.175
  PetaboxLoader3.datanode: 223.347 (4)
  PetaboxLoader3.resolve: 1697.413 (2)
  esindex: 0.012
  captures_list: 809.934
  CDXLines.iter: 13.926 (3)
*/