/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

/*
     FILE ARCHIVED ON 07:12:51 Oct 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:49:05 Apr 08, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 16.037 (3)
  exclusion.robots.policy: 0.149
  captures_list: 169.406
  esindex: 0.016
  exclusion.robots: 0.159
  RedisCDXSource: 0.877
  load_resource: 269.945
  PetaboxLoader3.datanode: 182.375 (5)
  PetaboxLoader3.resolve: 125.774 (3)
  LoadShardBlock: 149.415 (3)
*/